@inherits LayoutComponentBase

<PageTitle>SAIS</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <CascadingValue Value="ServiceManager">
                @Body
            </CascadingValue>
        </article>
    </main>

    <RadzenDialog />

</div>

@code {

    [Inject]
    public IServiceManager? ServiceManager { get; set; }
}